* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* setting the display for timer and highscore link */
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* #hide {
    display: none;
} */

.answer-btn-div {
    padding: 10px;
}

#answer-buttons {
    width: fit-content;
}

#question {
    font-weight: bold;
    color: lightyellow;
    background-color: lightslategray;
    padding: 5px;
    border: 2px solid black;
}

.btn {
    color: lightyellow;
    background-color: lightslategray;
}

#start-btn {
    color: lightyellow;
    background-color: lightslategray;
}