* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #282828;
}

/* setting the display for timer and highscore link */
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hide {
    display: none;
    visibility: hidden;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    border: 2px dotted white;
}

/* #answer-buttons {
    width: fit-content;
} */

#quizCard {
    font-weight: bold;
    color: #41FF00;
    text-align: center;
    background-color: #282828;
    padding: 5px;
    border: 2px dotted white;
}

.btn {
    color: #41FF00;
    background-color: #282828;
    border: 2px dotted white;
    margin: 5px 0;
}

#time {
    color: #41FF00; 
}

#answers {
    display: flex;
    justify-content: space-around;
}

.answerBtn {
    color: #41FF00;
    background-color: #282828;
    border: 2px dotted white;
    margin: 5px 0;
    padding: 20px;
    cursor:pointer;
}